In [6]:
import pandas as pd
import glob

folders = ["data/bronze", "data/logs", "data/silver"]

for folder in folders:
    print(f"\n=== Lendo o primeiro arquivo em: {folder} ===")
    parquet_files = sorted(glob.glob(f"{folder}/part-*"))[:1]
    if not parquet_files:
        print("Nenhum arquivo encontrado!")
        continue
    for file in parquet_files:
        print(f"\nArquivo: {file}")
        try:
            df = pd.read_parquet(file)
            display(df.head())  
        except Exception as e:
            print(f"Erro ao ler {file}: {e}")

=== Lendo o primeiro arquivo em: data/bronze ===

Arquivo: data/bronze\part-00000-57d7fe8d-7555-4fcd-ab2d-7a33f4438352-c000.snappy.parquet

,sensor_id,temperature,humidity,location,timestamp,status
0,8b3b7f56-1c9d-4268-a6c8-bfd04035ef34,24.090000,51.529999,Monicafurt,1981-04-07T23:06:03.763730,OK
1,1961953b-18da-402a-979d-660911c55aed,17.790001,79.480003,Lake Leslieton,2005-10-21T22:41:53.657807,ERROR
2,86edbbe7-7d6b-4ab3-85db-a21510a93edf,20.170000,71.589996,South Anthony,1981-06-18T10:26:02.943482,WARNING
3,aed73c86-01d2-4dd1-aa0e-7efa973491c6,29.920000,74.290001,East Kennethport,2019-11-22T07:09:29.268238,WARNING
4,6fa34594-2638-4173-96d5-59eef1fdda0c,22.090000,35.820000,Shepardbury,2003-02-24T16:09:02.195844,WARNING

=== Lendo o primeiro arquivo em: data/logs ===

Arquivo: data/logs\part-00000-0ddf7fae-26b0-4654-87de-680b35f2b9ec-c000.snappy.parquet

Empty DataFrame
Columns: [sensor_id, temperature, humidity, location, timestamp, status, validacao]
Index: []

=== Lendo o primeiro arquivo em: data/silver ===

Arquivo: data/silver\part-00000-334c046c-30ea-4b09-82a8-0afba0648bf2-c000.snappy.parquet

,sensor_id,temperature,humidity,location,timestamp,status,validacao,ingestion_time
0,1da4a2fe-b6c7-4569-bc86-50a353370e18,25.690001,21.000000,Burtonmouth,2021-08-02T16:27:01.051080,WARNING,1,2025-07-27 22:36:44.157
1,e04cc945-fc5d-4dae-b053-e2ff8cf4797c,29.809999,24.610001,Meghanhaven,1995-04-27T08:07:11.214346,WARNING,1,2025-07-27 22:36:44.157
2,718545aa-a0d1-49a9-811a-1384a32fb6d5,33.330002,48.880001,Lake Michael,2024-05-13T00:10:49.597933,WARNING,1,2025-07-27 22:36:44.157
3,570513c0-783c-4bcf-89ce-9857c3a25799,18.299999,34.889999,Williamsborough,2023-12-03T08:45:55.933116,OK,1,2025-07-27 22:36:44.157
4,1f3fbe8f-0267-4598-8119-b554c2cef401,31.469999,51.779999,New Christina,2020-05-19T20:39:39.233049,ERROR,1,2025-07-27 22:36:44.157